@tailwind base;
@tailwind components;
@tailwind utilities;



.trending  .slick-track .slick-active .trending-token {
    @apply rounded-b-lg shadow-brown-s !important;
}
.trending  .slick-track {
    height: 470px;
    top: 20px;
}

@media (min-width: 1024px) {
    .trending  .slick-track .slick-active .trending-token {
        @apply shadow-none !important;
    }
    .trending  .slick-track .slick-current + .slick-slide  .trending-token{
        @apply rounded-b-lg shadow-brown-s scale-110 border-2 border-orange !important;

    }
    .trending  .slick-track {
        height: 727px;
        top: 125px;
    }
  }
  